<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fa-youtubedemos-fhgthpdsfng2cqd7.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c1c11aab-f583-4a68-b089-b2d60474f730/resourceGroups/rg-youtube-demos-au/providers/Microsoft.Web/sites/fa-youtubedemos</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://fa-youtubedemos-fhgthpdsfng2cqd7.scm.australiaeast-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>