################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClassLibrary/bin/Debug/net9.0
/ClassLibrary/obj
/ConsoleApp/bin/Debug/net9.0
/ConsoleApp/obj
/StreamableHttpWebApp/bin
/StreamableHttpWebApp/obj
/ClassLibrary/bin/Release/net9.0
/WebApplication1/WebApplication1.csproj.user
/WebApplication1/bin/Debug/net9.0
/WebApplication1/obj
