################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClassLibrary/bin/Debug/net9.0
/ClassLibrary/obj
/ConsoleApp/bin/Debug/net9.0
/ConsoleApp/obj
/StreamableHttpWebApp/bin
/StreamableHttpWebApp/obj
/ClassLibrary/bin/Release/net9.0
/WebApplication1/bin/Debug/net9.0
/WebApplication1/obj
/WebApplication1/WebApplication1.csproj.user
/StreamableHttpWebApp/Properties/PublishProfiles/YouTubeDemosWebApp - Web Deploy.pubxml.user
/StreamableHttpWebApp/StreamableHttpWebApp.csproj.user
/FunctionApp/Properties/ServiceDependencies/fa-youtubedemos - Zip Deploy/profile.arm.json
