<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c1c11aab-f583-4a68-b089-b2d60474f730/resourceGroups/rg-youtube-demos-au/providers/Microsoft.Web/sites/YouTubeDemosWebApp</ResourceId>
    <ResourceGroup>rg-youtube-demos-au</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://youtubedemoswebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>99c58658-5786-4077-80d2-372a1e62fab6</ProjectGuid>
    <PublishUrl>https://youtubedemoswebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>